@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Georgia", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
header {
  display: flex;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-logo {
  width: 140px;
  margin: 0 30px 0 70px;
  display: block;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  align-items: center;
  justify-content: flex-end;
}

.navigation-link-user {
  min-width: 18px;
  min-height: 18px;
  display: block;
  padding: 24px 12px;
}

.navigation-link_search:after {
  content: '';
  display: block;
  background: url("../images/icons/search.svg") no-repeat;
  width: 18px;
  height: 18px;
}

.navigation-link_favourite:after {
  content: '';
  display: block;
  background: url("../images/icons/favourite.svg") no-repeat;
  width: 18px;
  height: 18px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 17px;
  display: block;
}

/*main*/

.main-container {
  flex-grow: 1;
}

.main-background {
  background-color: #82B3D3;
  background-image: url("../images/main-mask.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, center;
  background-size: 100% auto;
}

.main-title {
  text-align: center;
}

.background-title {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}

/*advantages*/

.advantages-header {
  padding: 60px 290px 90px;
  text-align: center;
}

.advantages-header-title {
  margin: 0 0 31px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-info {
  padding: 92px 85px;
}

.info-icon {
  padding: 80px 85px 81px;
}

.info-text {
  padding: 103px 85px 102px;
}

.advantages-item:nth-child(4n + 1){
  background-color: #82B3D3;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.advantages-item {
  width: 400px;
  display: flex;
  justify-content: center;
}

.item-full {
  width: 100%;
  flex-direction: row;
  color: #ffffff;
}

.item-full_left {
  flex-direction: row-reverse;
}

.advantages-block {
  display: flex;
  flex-direction: column;

}

.advantages-title_house:before {
  content: '';
  background: url("/images/advantage-house.svg") no-repeat;
  width: 90px;
  height: 102px;
  display: block;
  position: relative;
  left: 33%;
}

.advantages-title_food:before {
  content: '';
  background: url("/images/advantage-food.svg") no-repeat;
  width: 90px;
  height: 100px;
  display: block;
  position: relative;
  left: 33%;
}

.advantages-title_souvenir:before {
  content: '';
  background: url("/images/advantage-souvenir.svg") no-repeat;
  width: 90px;
  height: 100px;
  display: block;
  position: relative;
  left: 33%;
}

.advantages-description {
  margin: 30px 0 0 0;
}

/*search-form*/
.block-image {
  flex-direction: row;
}

.search {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 92px 0 30px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 56px;
  padding: 0 300px;
}

/*subscribe*/

.subscribe {
  text-align: center;
}

.subscribe-background {
  background: url("../images/subscribe-background.jpg") no-repeat;
  background-size: 100% auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 94px;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  max-width: 476px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.subscribe-form {
  padding-bottom: 94px;
  font-size: 0;
}

.button-subscribe {
  min-width: 200px;
}

.subscribe-email {
  font-size: 18px;
  line-height: 21px;
  min-width: 400px;
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  padding: 18px 166px 15px 22px;
  border: none;
}

/*footer*/
footer {
  display: flex;
  flex-direction: row;
}

.footer-wrapper {
  width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.social-footer-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-footer-item {
  margin: 13px 12px;
}

.social-icon {
  fill: #83B3D3;
}

.contact-phone {
  text-decoration: none;
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

/*----hotels----*/
.hotels-catalog-container {
  padding: 35px 70px 70px;
}

.inner-header {
  flex-direction: column;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.hotels-catalog {
  background: url("../images/filter-background.jpg") no-repeat;
  background-size: 100% auto;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
  padding-left: 3px;

}

.breadcrumbs-link {
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 20px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '';
  background: url("../images/icons/arrow-right-white.svg") no-repeat;
  width: 5px;
  height: 8px;
  display: inline-block;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

/*filter*/
.hotels-filter {
  display: flex;
  justify-content: space-between;
}

.hotels-filter-type {
  width: 366px;
  display: flex;
  justify-content: space-between;
}

.hotels-filter-price {
  width: 520px;
  display: flex;
  justify-content: space-between;
}

.hotels-filter-buttons {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.hotels-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
}

.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-item:not(:last-child){
  margin-bottom: 15px;
}

.hotels-range-wrapper{
  display: flex;
  margin-bottom: 20px;
  margin-top: 4px;

}

.input-range-wrapper input{
  padding: 0;
}

.range{
  margin: 0 auto;
}

input[type="number"] {
  background: none;
  vertical-align: top;
  outline: none;
  padding: 0;
  height: 48px;
  line-height: 40px;
  text-indent: 10px;
  display: inline-block;
  width: 144px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  font-size: 18px;
  color: #ffffff;
}

input[type="number"]:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2;
}

input[type="number"]:hover {
  border: 2px solid #FFFFFF;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

/*filter results*/
.hotel-results-sort {
  padding: 50px 71px 56px;
  display: flex;
  justify-content: space-between;

}

.button-layout_cards:before {
  content: '';
  display: block;
  background: url("../images/icons/card-icons.svg") no-repeat;
  width: 16px;
  height: 14px;
}

.button-layout_element:before {
  content: '';
  display: block;
  background: url("../images/icons/card-element.svg") no-repeat;
  width: 16px;
  height: 14px;
}

.button-layout_list:before {
  content: '';
  display: block;
  background: url("../images/icons/card-list.svg") no-repeat;
  width: 16px;
  height: 14px;
}

.hotel-results a {
  text-decoration: none;
}

.hotels-filter-result {
  font-size: 30px;
  line-height: 36px;
  margin-right: 191px;
  text-transform: uppercase;
}

.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-layout {
  padding: 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-layout_current {
  border-color: #000000;
}

.button-layout:not(:last-child) {
  margin-right: 8px;
}

.select-control {
  width: 290px;
  margin-right: 78px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-card {
  padding: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.star {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.star-active {
  background-image: url("../images/icons/star.svg");
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.dividing-line {
  padding-top: 66px;
  padding-bottom: 30px;
}

.dividing-line:before {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);

}

.pagination {
  display: flex;
  align-items: baseline;
}

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 400px;
  display: flex;
}

.pagination-link:not(:last-child) {
  margin-right: 8px;
}
.pagination-link:last-child {
  padding: 12px 18px;
}

.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  padding: 11px 23px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  border: none;
}

.select-control-title {
  margin-right: 51px;
  margin-left: auto;
}

.select-control-page {
  width: 160px;
  height: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
}

/*colors*/
.text-color_white {
  color: #ffffff;
}

.color-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.color-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

/*buttons*/
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px;
}

.button-header {
  margin: 0 70px 0 20px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  padding: 10px 120px;
  margin-bottom: 93px;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
}

.button-blue {
  background: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-as-link {
  background: none;
  font-weight: 400;
  text-transform: none;
}



