@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "PT Sans", "Georgia", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*header*/
header {
  display: flex;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.header-logo {
  width: 140px;
  margin: 0 30px 0 70px;
  display: block;
  position: absolute;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  margin-left: 238px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  align-items: center;
  justify-content: flex-end;
}

.navigation-link-user {
  min-width: 18px;
  min-height: 18px;
  display: block;
  padding: 20px 12px;
  position: relative;
  color: #000000;
}

.navigation-link-user:hover,
.navigation-link-user:focus {
  color: #E5E5E5;
}

.counter {
  position: absolute;
  top: 13px;
  right: -1px;
  background: #7DB54F;
  border-radius: 10px;
  height: 17px;
  padding: 2.5px 4.5px 0;
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.1em;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 20px 17px;
  display: block;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current:after {
  content: "";
  position: absolute;
  top: 65px;
  left: 17px;
  right: 17px;
  height: 2px;
  background-color: #756257;
  z-index: 2;
}

/*main*/
.main-container {
  flex-grow: 1;
}

.main-background {
  background-image: url("../images/main-mask.svg"), url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, center;
  background-size: 100% auto;
}

.main-title {
  text-align: center;
}

.background-title {
  display: block;
  margin: 0 auto;
  padding: 51px 0 82px 0;
}

/*advantages*/
.advantages-header {
  padding: 60px 270px 90px;
  text-align: center;
}

.advantages-header-title {
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantages-header-info {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-info {
  padding: 91px 85px;
}

.info-icon {
  padding: 80px 85px 81px;
}

.info-text {
  padding: 101px 85px 102px;
}

.advantages-item:nth-child(4n + 1) {
  background-color: #82B3D3;
}

.advantages-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-top: 2px;
  color: #000000;
}

.advantages-item {
  width: 400px;
  display: flex;
  justify-content: center;
}

.item-full {
  width: 100%;
  flex-direction: row;
  color: #ffffff;
}

.item-full_left {
  flex-direction: row-reverse;
}

.advantages-block {
  display: flex;
  flex-direction: column;
}

.advantages-title_house:before {
  content: '';
  background: url("../images/advantage-house.svg") no-repeat;
  width: 90px;
  height: 103px;
  display: block;
  position: relative;
  left: 28%;
}

.advantages-title_food:before {
  content: '';
  background: url("../images/advantage-food.svg") no-repeat;
  width: 90px;
  height: 103px;
  display: block;
  position: relative;
  left: 33%;
}

.advantages-title_souvenir:before {
  content: '';
  background: url("../images/advantage-souvenir.svg") no-repeat;
  width: 90px;
  height: 103px;
  display: block;
  position: relative;
  left: 33%;
}

.advantages-description {
  margin: 0;
  margin-top: 30px;
}

/*search-form*/
.block-image {
  flex-direction: row;
}

.search {
  text-align: center;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 90px 0 30px;
  color: #000000;
}

.search-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 57px;
  padding: 0 300px;
}

/*subscribe*/
.subscribe {
  text-align: center;
}

.subscribe-background {
  background: url("../images/subscribe-background.jpg") no-repeat;
  background-size: 100% auto;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 94px;
  color: #000000;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  max-width: 476px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.subscribe-form {
  padding-bottom: 94px;
  font-size: 0;
}

.input {
  font-family: "PT Sans", "Georgia", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 15px 16px 14px 22px;
  border: none;
  box-sizing: border-box;
  appearance: textfield;
}

.input-subscribe {
  min-width: 600px;
  border-radius: 10px 0 0 10px;
  padding: 19px 22px 18px 22px;
}

/*footer*/
footer {
  display: flex;
  flex-direction: row;
}

.footer-wrapper {
  width: 1060px;
  margin: 0 auto;
  padding: 48px 70px 30px;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.social-footer-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social-footer-item {
  margin: 9px 12px 10px;
}

.social-footer-link > svg {
  fill: #83B3D3;
}

.social-footer-link:hover > svg {
  fill: #68A2CA;
}

.social-footer-link:focus > svg {
  fill: #68A2CA;
}

.social-footer-link:active > svg {
  fill: rgba(104, 162, 202, 0.3);
}

.contact-phone {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 35px;
}

.contact-phone:hover {
  color: #756157;
}

.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  padding-top: 2px;
}

.htmlacademy-link svg {
  fill: #000000;
}

.htmlacademy-link:hover svg {
  fill: #756157;
}

.htmlacademy-link:focus svg {
  fill: #756157;
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

/*----hotels----*/
.hotels-catalog-container {
  padding: 35px 70px 70px;
}

.inner-header {
  flex-direction: column;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding-bottom: 10px;

}

.hotels-catalog {
  background: url("../images/filter-background.jpg") no-repeat;
  background-size: 100% auto;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 16px;
  line-height: 21px;
  list-style-type: none;
}

.breadcrumbs-link {
  text-decoration: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 8px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '';
  background: url("../images/icons/arrow-right-white.svg") no-repeat;
  width: 5px;
  height: 8px;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

/*filter*/
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons/checked.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-input[type="checkbox"] + .control-mark:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"] + .control-mark:focus {
  border: 3px solid #83B3D3;
}

.control-input[type="checkbox"] + .control-mark:focus-visible {
  border: 3px solid #83B3D3;
  outline: none;
}

.control-input[type="checkbox"] + .control-mark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-radio::before {
  position: absolute;
  top: 5px;
  left: 4px;
  width: 10px;
  height: 11px;
  background: url("../images/icons/dot.svg") no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-radio:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="radio"] + .control-radio:focus {
  border: 3px solid #83B3D3;
}

.control-input[type="radio"] + .control-radio:focus-visible {
  border: 3px solid #83B3D3;
  outline: none;
}

.control-input[type="checkbox"] + .control-radio:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.hotels-filter {
  display: flex;
}

.hotels-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.filter-service {
  margin-right: 70px;
}

.filter-type {
  margin-right: 175px;
}

.filter-price {
  margin-right: 70px;
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
}

.hotels-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hotels-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

/*range*/
.hotels-range-wrapper {
  margin-bottom: 20px;
  margin-top: 4px;
}

.range-input {
  display: flex;
}

.input-range-wrapper input {
  padding: 0;
}

.hotels-range-label {
  position: relative;
}

.range {
  margin: 0 auto;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus, .range-toggle:focus-visible {
  border: 3px solid #83B3D3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 216px;
}

.range-input {
  font-size: 0;
}

.range-min {
  position: absolute;
  top: 13px;
  bottom: 14px;
  right: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.3;
}

.range-max {
  position: absolute;
  top: 13px;
  bottom: 14px;
  right: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.3;
}

.range-price {
  background: none;
  vertical-align: top;
  outline: none;
  padding-left: 6px;
  padding-right: 35px;
  height: 48px;
  line-height: 40px;
  text-indent: 10px;
  display: inline-block;
  width: 144px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  color: #ffffff;
}

.range-price:focus {
  border: 2px solid #FFFFFF;
  box-shadow: 0 0 0 3px #81B3D2;
  border-radius: 4px 0 0 4px;
}

.range-price:hover {
  border: 2px solid #FFFFFF;
}

.range-price:active {
  background: #756257;
}

.range-price::-webkit-outer-spin-button,
.range-price::-webkit-inner-spin-button {
  display: none;
}

.max {
  border-radius: 0 4px 4px 0;
}

/*buttons*/
.hotels-filter-buttons {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*filter results*/
.hotel-results {
  padding: 0 72px 23px 71px;
}

.hotel-results a {
  text-decoration: none;
}

.hotel-results-sort {
  padding: 40px 0 55px;
  display: flex;
  justify-content: space-between;
}

.hotels-filter-result {
  font-size: 30px;
  line-height: 45px;
  margin-right: 191px;
  text-transform: uppercase;
  color: #000000;
}

.card-grid-toggle {
  padding: 12px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  outline: none;
}

.card-grid-toggle:focus {
  border: 2px solid #68A2CA;
}

.card-grid-toggle:hover {
  border: 2px solid #000000;
}

.card-grid-toggle:active {
  border: 2px solid #000000;
}

.grid_current {
  border-color: #000000;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.grid_cards {
  background: url("../images/icons/card-icons.svg") no-repeat center;
  background-size: 16px 14px;
}

.grid_element {
  background: url("../images/icons/card-element.svg") no-repeat center;
  background-size: 16px 14px;
}

.grid_list {
  background: url("../images/icons/card-list.svg") no-repeat center;
  background-size: 16px 14px;
}

/*select*/
.select {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.sorting-type {
  width: 290px;
  margin-right: auto;
}

.select-control {
  width: 100%;
  padding: 12px 20px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.page-type {
  width: 160px;
}

.select-control-page {
  width: 100%;
  padding: 12px 20px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

/*hotels cards*/
.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
}

.hotel-card {
  padding: 20px;
  padding-top: 22px;
  display: grid;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
}

.hotel-card-link {
  text-decoration: none;
  color: inherit;
  grid-column: 1 / -1;
}

.hotel-card-image {
  display: block;
  object-fit: cover;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  padding-top: 16px;
  color: #000000;
}

.hotel-card-stars {
  padding-top: 10px;
}

.star {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.star-active {
  background-image: url("../images/icons/star.svg");
}

.hotel-card-rating {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 37px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.dividing-line {
  padding-top: 66px;
  padding-bottom: 25px;
}

.dividing-line:before {
  content: '';
  display: block;
  width: 100%;
  border: 1px solid #E6E6E6;
  transform: rotate(180deg);
}

/*pagination*/
.pagination {
  display: flex;
  align-items: center;
}

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 400px;
  display: flex;
}

.pagination-link:not(:last-child) {
  margin-right: 8px;
}

.pagination-link:nth-child(5) {
  padding: 11px 20px 12px;
}

.pagination-link:last-child {
  padding: 12px 16px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  padding: 11px 23px 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82B3D3;
  border: 1px solid #82B3D3;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:active {
  background: #82B3D3;
  border: 1px solid #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.pagination-current:hover {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.pagination-current:focus {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.pagination-current:active {
  background: #F2F2F2;
  color: #000000;
  border: 1px solid #F2F2F2;
}

.select-control-title {
  margin-right: 51px;
  margin-left: auto;
}

.select-control-page {
  width: 160px;
  height: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 20px;
}

/*colors*/
.text-color_white {
  color: #ffffff;
}

.color-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.color-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.error {
  color: #FF5757;
}

/*buttons*/
.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-header {
  margin: 0 71px 0 20px;
  padding: 9px 34px;
  display: block;
  text-align: center;
}

.button-search {
  font-size: 17px;
  line-height: 36px;
  padding: 10px 150px;
  margin-bottom: 95px;
}

.button-subscribe {
  min-width: 200px;
  font-size: 17px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
  padding: 12px 15px 10px;
}

.button-blue {
  background: #82B3D3;
}

.button-blue:hover {
  background: #68A2CA;
}

.button-blue:focus {
  background: #68A2CA;
}

.button-blue:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-disabled {
  background-color: #E5E5E5;
}

.button-apply {
  padding: 14px 35px;
  letter-spacing: -1px;
}

.button-as-link {
  font-weight: 400;
  background: none;
  border: 3px solid transparent;
  text-transform: none;
  margin-top: 16px;
  letter-spacing: -0.75px;
  box-sizing: border-box;
  padding: 1px 10px;
}

.button-as-link:hover {
  opacity: 0.6;
  background: none;
}

.button-as-link:focus {
  border: 3px solid #83B3D3;
  border-radius: 4px;
  background: none;
}

.button-as-link:active {
  opacity: 0.3;
  background: none;
  border: none;
}

.card-button {
  padding: 9px 15px 8px;
  text-align: center;
}

/*modal-container*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #F2F2F2;
  z-index: 5;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 62px 70px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 55px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: 3px solid transparent;
  cursor: pointer;
}

.close-button {
  color: #000000;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
}

.modal-close-button:active {
  opacity: 0.3;
  background-color: #E6E6E6;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 63px;
  font-family: "PT Sans", "Georgia", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -1.2px;
}

.notice {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
  margin-left: 1px;
  padding-top: 9px;
}

.input-date {
  width: 420px;
}

.input-date:hover {
  background-color: #E6E6E6;
}

.input-date:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.input-date:active {
  background: #FFFFFF;
  outline: 3px solid #000000;
}

.input-number {
  width: 133px;
  text-align: center;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-button {
  width: 25px;
  height: 25px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  top: 13px;
  border: 3px solid transparent;
  opacity: 0.3;
}

.number-button:hover {
  opacity: 1;
}

.number-button:focus {
  opacity: 1;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.number-button:active {
  opacity: 0.3;
}

.number-button-minus {
  background: url("../images/icons/minus.svg") no-repeat center;
  left: 15px;
}

.number-button-plus {
  background: url("../images/icons/plus.svg") no-repeat center;
  right: 13px;
}

.button-calendar {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 15px;
  height: 15px;
  opacity: .3;
  background: url(../images/icons/calendar.svg) no-repeat center;
}

.label {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.field-date-start-block {
  grid-area: i_start;
  position: relative;
}

.label-start {
  grid-area: l_start;
}

.date-notice {
  grid-area: d_notice;
}

.field-date-end-block{
  grid-area: i_end;
  position: relative;
}

.label-end {
  grid-area: l_end;
}

.rooms-notice {
  grid-area: r_notice;
  color: #333333;
}

.field-people-block {
  grid-area: i_people;
  position: relative;
}

.label-people {
  grid-area: l_people;
}

.field-child-block {
  grid-area: i_child;
  position: relative;
}

.label-child {
  grid-area: l_child;
  text-align: right;
  margin-right: 16px;
}

.button-submit {
  grid-area: b-sub;
  margin-top: 40px;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 26px;
}

.button-submit:hover {
  background: #68A2CA;
}

.button-submit:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.button-submit:active {
  opacity: 0.3;
}

.search-form {
  display: grid;
  grid-template-columns: 152px 1fr 152px 1fr;
  grid-template-areas:
    "l_start i_start i_start i_start"
    ". d_notice d_notice d_notice"
    "l_end i_end i_end i_end"
    ". r_notice r_notice r_notice"
    "l_people i_people l_child i_child"
    "b-sub b-sub b-sub b-sub";
  align-items: center;
}

/*tooltip*/
.tooltip {
  display: inline-block;
  margin-top: 4px;
  position: relative;
  text-align: left;
}

.tooltip-toggle {
  border: none;
  padding: 7px 11px;
  margin: 0;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  border-radius: 50%;
}

.tooltip-icon {
  fill: #ffffff;
  display: block;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: #68A2CA;
  outline: none;
}

.tooltip-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  top: 40px;
  width: 256px;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:before {
  content:'';
  background-image: url("../images/icons/triangle.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  top: -9px;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}


