@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
    width: 1200px;
  font-family: "PT Sans", "Georgia", serif;
  font-weight: 400;
  font-style: normal;
}

header {
  height: 70px;
}

nav {
  display: flex;
  flex-direction: row;
}

.advantages {

}
